.container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.mb-4-kk{
  background-color: salmon;
  color: darkred;
  position:relative;
  font-weight: 300;
  font-size: 30px;
  line-height: 60px;
  margin-top: 1.25rem;
  align-items: center;
  text-align: center;
}

@media (max-width: 1023px) {
  .mb-4-kk {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .mb-4-kk {
    font-size: 30px;
  }
}

@media (max-width: 575px) {
  .mb-4-kk {
    font-size: 25px;
  }
}

.form-label-kk{
  display: contents;
  max-width: calc(100% - 20rem);
  color: darkred;
  font-weight: 300;
  font-size: 30px;
  line-height: 60px;
  align-items: center;
  text-align: center;
  margin: 0 ;
}
@media (max-width: 1023px) {
  .form-label-kk {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .form-label-kk {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .form-label-kk {
    font-size: 16px;
  }
}

.form-control-kk {
  width: 10%;
  height: 5vh;
  border: 2px solid Sandybrown;
  box-sizing: border-box;
  border-radius: 6px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}


.input-container {
  margin-bottom: 20px;
}

.table-container {
  border-color: aquamarine;
  max-width: 400px;
  margin: auto;
}

.number {
  width: 30px;
  height: 30px;
  color: brown;
  border: 1px solid #ccc;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button {
  border-color:#8B4513 ;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.btn-btn-primary-kk{
  color: chocolate;
  background-color: burlywood;
  border: solid;
  border-color: #8B4513;
  cursor: pointer;
}

.btn-btn-success-kk{
  color: chocolate;
  background-color: burlywood;
  border: solid;
  border-color: #8B4513;
  cursor: pointer;
}

.mt-4-kk{
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
  color: brown;
  font-size: 20px;
  line-height: 40px;
}

.table-kk{
  width: 50%;
  border: solid;
  align-items: center;
  /* display: flex; */
  justify-content: center;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.lottery-results {
  text-align: center;
}

.lottery-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.number-selector {
  text-align: center;
}


.numbers {
  display: flex;
  flex-wrap: wrap;
  color: darksalmon;
  background-color: coral;
}


.selected {
  background-color: #4caf50;
  color: white;
}

